@tailwind base;
@tailwind components;
@tailwind utilities;

* body {
  width: 100vw;
  background-color: rgb(249, 247, 247);
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(236, 244, 244);
  height: 80px;
  width: 100%;
  position: relative;
  background-color: white;
}

.navbar a {
  color: rgb(0, 0, 0);

  font-size: 60px;
  font-weight: 900;
  margin-top: 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.TodoDePage {
  width: 1125px;
  height: 1823px;
  margin-top: 40px;
  margin-left: 114px;
  display: flex;
  column-gap: 72px;
}
.TodoDePage .TodoList {
  width: 401px;
  height: 1759px;
  justify-content: center;
  padding: 50px;
}
.TodoListst .Title {
  margin-top: 4px;
  margin-left: -10px;
  width: 200px;
  color: rgba(0, 0, 0, 0.821);
}
.TodoListst .Description {
  margin-top: -15px;
  margin-left: -60px;
  color: rgba(0, 0, 0, 0.896);
}
.TodoListst .Date {
  margin-left: -60px;
  margin-top: -6px;
  color: black;
}

.TodoDePage .TodoForm {
  width: 452px;
  height: 576px;
  border: solid rgb(242, 235, 235) 1px;
  border-radius: 8px;
  background-color: white;
}

.Todolists {
  height: 3000px;
  width: 500px;
  margin: -50px 0 0 -20px;
  border-radius: 8px;
}

.TodoListContent a {
  width: 429px;
  height: 100px;
  margin-right: 100px;
  background-color: white;
  padding: 2px 20px 2px 50px;
  border-radius: 8px;
  border: 1px solid rgb(240, 236, 236);
  margin-bottom: 30px;
}

.TodoForm h2,
div {
  justify-content: center;
  height: 50px;
  width: 500px;
  margin-left: 50px;
}
.TodoForm h2 {
  width: 300px;
  font-weight: 800;
  margin-top: 40px;
  margin-left: 70px;
}
.TodoForm .Title {
  width: 270px;
  height: 30px;
  padding: 8px 5px 3px 30px;
  margin: 50px 20px 0 70px;
  border-radius: 8px;
}
.TodoForm .Description {
  width: 270px;
  height: 40px;
  padding: 42px 3px 3px 30px;
  margin: 50px 20px 0 70px;
  border-radius: 8px;
}

.TodoForm .Button {
  width: 90px;
  height: 30px;

  display: flex;
  margin: 40px 20px 0 175px;
  padding: 6px 3px 3px 15px;
  border-radius: 8px;
  border: 1px solid rgba(133, 126, 126, 0.778);
}
.TodoForm h2 {
  display: flex;
  margin-right: 50px -50px -50px 0;
}
.EditForm {
  background-color: rgb(246, 239, 239);
  height: 500px;
  width: 400px;
  border: 1px solid rgb(236, 232, 232);
  border-radius: 8px;
  background-color: white;
  margin-top: 36px;
}

.EditForm h1 {
  height: 80px;
  width: 250px;
  padding: 6px 0 0 9px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 50px;
  font-weight: 800;
}

.EditForm .Title {
  height: 40px;
  width: 198px;
  display: flex;
  padding: 6px 0 0 9px;
  margin-bottom: 20px;
  margin-left: 46px;
  align-items: center;
  padding: 3px 0 0 100px;
  justify-content: center;
  border-radius: 6px;
}

.EditForm .Description {
  height: 50px;
  width: 200px;
  display: flex;
  padding: 42px 3px 3px 30px;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 45px;
  justify-content: center;
  padding: 30px 0 0 100px;
  border-radius: 6px;
}
.UpdateButton {
  height: 25px;
  width: 100px;
  background-color: rgb(242, 248, 246);
  display: flex;
  margin-right: 200px;
  padding: 6px 4px 4px 25px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(223, 217, 217);
}

.DeleteButton {
  background-color: rgba(253, 251, 250, 0.938);
  height: 25px;
  width: 100px;
  display: flex;
  margin-right: 60px;
  padding: 6px 0 4px 25px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(223, 217, 217);
}
